html {
  overflow-y: scroll;
}
body{
  margin: 0;
  padding: 0;
  font: 16px/20px Arial, Helvetica, sans-serif;
}
a{
  color:#2B587A;
}
a:hover{
  text-decoration: none;
}
input,
textarea{
  font: 16px/20px Arial, Helvetica, sans-serif;
  padding: 1px 4px;
  border: 1px solid #2b587a;
  border-radius: 3px;
}
.view{
  position: relative;
}
.middle{
  position: relative;
  width: 800px;
  margin: 0 auto;
}
.header{
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 0;
  background-color: #4e729a;
  color: #e8eff7;
  box-shadow: 0 0 2px #4e729a;
}
.header-content{
  position: relative;
  overflow: hidden;
}
.header-item{
  float: right;
  margin: 0 0 0 10px;
}
.header-search{
  overflow: hidden;
}
.header-search input{
  box-sizing: border-box;
  width: 100%;
}
.header-count,
.header-search-count{
  font-size: 12px;
}
.header-button{
  display: block;
  padding: 1px 10px;
  border: 1px solid #2b587a;
  border-radius: 3px;
  color: #e8eff7;
  text-decoration: none;
  font-size: 14px;
}
.header-button:hover{
  background-color: rgba(0, 31, 64, 0.17);
  color: #FFF;
}
.items-list{
  position: relative;
  overflow: hidden;
  padding: 100px 0 0 0;
}
.items-item{
  position: relative;
  overflow: hidden;
  margin: 0 0 40px;
}
.items-item-button-edit,
.items-item-button-delete{
  font-size: 12px;
}
.items-item-title{
  font-size: 18px;
}
.items-item-announce{
  font-size: 14px;
}
.item-content{
  padding: 100px 0 0 0;
}
.item-title{
  font-size: 26px;
  font-weight: normal;
  line-height: 30px;
}
.item-text{}
.item-title textarea,
.item-text textarea{
  width: 100%;
  box-sizing: border-box;
}
.item-title textarea{
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 20px;
  height: 80px;
}
.item-text textarea{
  height: 200px;
}