<header class="header">
  <div class="header-content middle">
    <div class="header-item">
      <a ng-click="addItem()" href="" class="header-button">Добавить запись</a>
    </div>
    <div class="header-search">
      <input ng-model="query" ng-change="filter(query)" autofocus placeholder="Найти запись">
      <span class="header-count" ng-hide="query!=''">Всего записей: {{$storage.items.length}}</span>
      <span class="header-search-count" ng-show="query!=''">Найдено: {{itemsInSearch}}</span>
    </div>
  </div>
</header>

<section class="items-list middle" when-scrolled="loadMore()">
  <div ng-repeat="item in items" class="items-item">
    <a href="#/{{$index}}" class="items-item-title">{{item.name}}</a>
    <div class="items-item-announce">{{item.text | limitTo:80}}</div>
    <a href="#/{{$index}}/edit" class="items-item-button-edit">Редактировать</a>
    <a ng-click="removeItem($index)" href="" class="items-item-button-delete">Удалить</a>
  </div>
</section>